* {
    box-sizing: border-box;
    }
html {
    background-color: #faf3d0;
    margin: 0;
    overflow-x: hidden;
}

nav ul {
    list-style: none; 
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size:large;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

#inicio {
    flex: 0 0 70%;
    padding: 20px;
}

aside {
    margin-top: 50px;
    flex: 0 0 30%;
    background-color: #efdd86;
    padding: 20px;
}

#formContainer {
    display: flex;
    flex-direction: row;
    align-items: center; /* alinha verticalmente se quiser */
    gap: 10px; /* espaçamento entre os elementos */
  }

.alertaCurtida {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #c0ef86;
    color: #363632;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 9999;
  }

  .avisoLimpar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f36c6c;
    color: #363632;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: 9999;
  }
